body .App {
  --Background: hsl(0, 0%, 98%);
  --Text: hsl(200, 15%, 8%);
  --Elements: hsl(0, 0%, 100%);
  --Input: hsl(0, 0%, 52%);
}

body .App.Dark {
  --Background: hsl(207, 26%, 17%);
  --Text: hsl(0, 0%, 100%);
  --Elements: hsl(208, 23%, 22%);
  --Input: hsl(209, 23%, 22%);
}

//@media (prefers-color-scheme: dark) {
//  body .App {
//    --Background: hsl(207, 26%, 17%);
//    --Text: hsl(0, 0%, 100%);
//    --Elements: hsl(208, 23%, 22%);
//    --Input: hsl(209, 23%, 22%);
//  }
//}

$Background: var(--Background);
$Text: var(--Text);
$Elements: var(--Elements);
$Input: var(--Input);
$lightFont: 300;
$normalFont: 600;
$boldFont: 800;
